@charset UTF-8;

#allfreestuff #stuff #content_all {
color:#1e1e1e;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
line-height:22px;
margin:0 auto;
padding-left:15px;
padding-top:25px;
width:60%;
}

#allfreestuff #stuff #detail_all {
color:#adb3b5;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
padding-bottom:2%;
padding-left:15px;
padding-top:2%;
text-align:center;
width:100%;
}

#allfreestuff #stuff #image_all img {
margin-left:25%;
}

#allfreestuff #stuff #titlestuff_all {
color:#1f1426;
font-family:ClarendonTMedRegular;
font-size:32px;
padding-left:15px;
padding-top:15px;
text-align:center;
}

#comments {
padding-bottom:25px;
}

#concertinfo {
float:left;
left:-144px;
padding-bottom:15px;
position:relative;
top:12px;
}

#concertinfo #souldout_detail {
color:red;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
padding-left:15px;
padding-top:10px;
text-transform:uppercase;
}

#concertinfo #tabellocation_detail,#concertinfo #tabeldate_detail,#concertinfo #tabelhour_detail,#concertinfo #ticket_detail {
color:#626773;
font-family:ClarendonTMedRegular;
font-size:14px;
padding-left:15px;
padding-top:10px;
}

#container {
margin-top:5%;
}

#content_article {
color:#1e1e1e;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
line-height:22px;
margin:0 auto;
padding-top:5%;
width:600px;
}

#coverimage {
margin-left:37%;
padding-bottom:15px;
padding-top:15px;
}

#date_article,#issue_date {
color:#adb3b5;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
padding-bottom:2%;
padding-top:2%;
text-align:center;
width:100%;
}

#downloadbtn {
-moz-background-clip:border;
-moz-border-radius:3px;
-webkit-background-clip:border-box;
-webkit-border-radius:3px;
background-clip:border-box;
border:2px solid #adb3b5;
border-radius:3px;
color:#214F69;
display:inline-block;
font-family:Arial, Helvetica, sans-serif;
margin-left:42%;
padding:15px;
text-align:center;
text-decoration:none;
text-transform:uppercase;
}

#landscape {
background-image:url(../images/orientationimg.jpg);
display:none;
height:748px;
width:1024px;
}

#map_canvas {
clear:right;
left:-20px;
margin-bottom:10px;
padding-left:15px;
top:-10px;
}

#moreinfo {
color:#B6A43D;
font-family:ClarendonTMedRegular;
font-size:14px;
font-weight:400;
left:-130px;
padding-bottom:15px;
padding-left:15px;
position:relative;
text-decoration:none;
top:21px;
}

#pager {
left:37%;
padding-bottom:25px;
position:relative;
}

#pager img {
padding-left:10px;
}

#showhide {
color:#8195A6;
font-size:12px;
font-weight:400;
left:-100px;
padding-bottom:20px;
padding-top:30px;
position:relative;
text-decoration:none;
width:600px;
}

#social {
left:22px;
padding-bottom:3%;
position:relative;
}

#social ul li,#social_concert ul li {
float:left;
list-style-type:none;
padding:1%;
}

#social_concert {
float:left;
left:-30px;
padding-bottom:3%;
position:relative;
top:-40px;
}

#tabel #longreview {
clear:left;
color:#1e1e1e;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:27px;
padding-bottom:40px;
padding-left:15px;
padding-top:25px;
width:80%;
}

#tabel #tabelartist_detail {
color:#1e1e1e;
font-family:ClarendonTMedRegular;
font-size:38px;
}

#tabel #tabelimage_detail {
float:left;
}

#tabel #tabelimage_detail #image {
padding-left:15px;
padding-right:25px;
width:200px;
}

#tabel #tabelurl_detail a {
color:#B6A43D;
font-family:ClarendonTMedRegular;
font-size:14px;
font-weight:400;
padding-top:10px;
text-decoration:none;
}

#title_article {
color:#8195a6;
font-family:ClarendonTMedRegular;
font-size:48px;
margin:0 auto;
text-align:center;
width:70%;
}

#titleissue {
color:#214F69;
font-family:ClarendonTMedRegular;
font-size:32px;
padding-left:15px;
padding-top:15px;
text-align:center;
}

#uitleg {
color:#1e1e1e;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
line-height:22px;
margin:0 auto;
padding-bottom:15px;
padding-left:15px;
text-align:center;
width:80%;
}

.backbtn {
width:60px;
}

.banner,.ui-content.ui-scrollview-clip {
padding:0;
}

.fb_iframe_widget {
left:60px;
}

.ui-content.ui-scrollview-clip > div.ui-scrollview-view,.ui-content.ui-scrollview-clip > .ui-listview.ui-scrollview-view {
margin:0;
}

.ui-grid-a .ui-block-d {
background-color:#eff0f0;
float:left;
height:750px;
width:33%;
}

.ui-grid-a .ui-block-d #artikels {
margin:0 auto;
}

.ui-grid-a .ui-block-d #artikels #content {
color:#333535;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
line-height:18px;
padding-left:15px;
text-shadow:0 1px 0 #FFF;
width:200px;
}

.ui-grid-a .ui-block-d #artikels #date,.ui-grid-a .ui-block-e #tabelhomepage #date {
color:#626773;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
padding-left:15px;
}

.ui-grid-a .ui-block-d #artikels #image img,.ui-grid-a .ui-block-e #tabelhomepage #tabelimage,.ui-grid-a .ui-block-f #freestuff #stuff #image img {
margin-top:5%;
padding-left:15px;
}

.ui-grid-a .ui-block-d #artikels #title {
color:#8195a6;
font-family:ClarendonTMedRegular;
font-size:18px;
padding-left:15px;
}

.ui-grid-a .ui-block-d #artikels hr {
width:90%;
}

.ui-grid-a .ui-block-e {
background-color:#dee1e1;
float:left;
height:750px;
width:33%;
}

.ui-grid-a .ui-block-e #tabelhomepage #artist {
color:#b6a43d;
font-family:ClarendonTMedRegular;
font-size:18px;
padding-left:15px;
}

.ui-grid-a .ui-block-e #tabelhomepage #location {
font-family:ClarendonTMedRegular;
font-size:14px;
padding-left:15px;
padding-top:10px;
}

.ui-grid-a .ui-block-e #tabelhomepage #shortreview {
color:#333535;
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
line-height:18px;
padding-left:15px;
text-shadow:0 1px 0 #FFF;
}

.ui-grid-a .ui-block-f {
background-color:#ced2d3;
float:left;
height:750px;
width:33%;
}

.ui-grid-a .ui-block-f #freestuff #stuff #content {
color:#333535;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
line-height:18px;
margin:0;
padding-left:15px;
text-shadow:0 1px 0 #FFF;
width:200px;
}

.ui-grid-a .ui-block-f #freestuff #stuff #detail {
color:#1f1426;
font-family:ClarendonTMedRegular;
font-size:14px;
padding-left:15px;
text-align:left;
}

.ui-grid-a .ui-block-f #freestuff #stuff #titlestuff {
color:#1f1426;
font-family:ClarendonTMedRegular;
font-size:18px;
padding-left:15px;
text-align:left;
}

iframe {
display:block;
margin:0 auto;
}

strong {
font-weight:400;
}

@media only screen and (min-device-pixel-ratio:2)
{
	#social_concert, #social{}
}