@charset "UTF-8";
/* CSS Document */
@font-face { font-family: Baskerville; src: url('css/Baskerville.ttc'); }

#tabel
	{
	background-color:#c0c7c9;
	min-height:150px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width:39.5em;
	margin-top:15px;
	margin: 0 auto;
	}
	#tabelimage
	{
	float:left;
	padding-top:10px;
	padding-right:20px;
	padding-left:20px;
	}
	#tabelartist
	{
	padding-top:10px;
	font-size:30px;
	color:#1e1e1e;
	font-family:Baskerville;
	}
	#tabellocation
	{
	padding-top:10px;
	font-sixze:20px;
	font-family:Baskerville;
	}
	#tabelurl
	{
	padding-top:10px;
	font-size:20px;
	}
	#tabelurl a:link
	{
	color:#869401;
	text-decoration:none;
	font-family:Baskerville;
	}